*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman';
    cursor: pointer;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(l.back.jpg);
    background-size: cover;
}
form{
    width: 25rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    background: whitesmoke;
    box-shadow: 0 120px 100px 0 rgba(31,38,135,.37);
    border-radius: 30px;
    background-image: url(lb.jpg);
}
h1{
    font-size: 50px;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 10%;
    opacity: .7;
}
label{
    font-size: 20px;
    margin-left: 10%;
    opacity: .8;
}
input{
    width: 80%;
    margin: 5% auto;
    margin-bottom: 8%;
    border: none;
    outline: none;
    background: transparent; 
    color: black;
    border-bottom: 1px solid black;
}
button{
    width: 30%;
    color: black;
    align-items: center;
    margin: 5% auto;
    padding: 10px 24px;
    font-size: 15px;
    border-radius: 20px;
    border: none;
    opacity: .8;
    background-color: crimson;
    text-align: none;
}
.sign{
    text-align: center;
    font-size: 20px;
    margin-bottom: 10%;
}
.sign a{
    padding: 10px 24px;
    color: black;
    background: crimson;
    border-radius: 20px;
    text-decoration: none;
}